* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  padding: 1em;
  margin: 1em;
}
.description{
  display: flex;
}
.header{
  margin: 1em auto;
  font-size: 1.5em;
  background-color: white;
}
.ajo{
  background-color: orange;
  padding: 1em;
}
.card{
  padding-top: 1em;
  padding-bottom: 1em;
}
.navbar{
  position: absolute;
  width: 100%;
  top: -100%;
  display: flex;
  animation: show 2s forwards 2s;
  background: white;
}
@keyframes show{
  from{
    position: absolute;
    top: -100%;
  }
  to{
    position: sticky;
    top: 0;
  }
}

.navbar ul li{
  list-style-type: none;
  padding: 1em;
  text-align: center;
  margin: 1em;
  font-size: 0.7em;
}
.hidden{
  display: none;
}
.showing{
  display: grid;
  position: absolute;
  top: 0;
  height: 90vh;
  width: 100vw;
  background-color: white;
  z-index: 9;
}
.icons1{
    display: none;
}
.hamburger{
  display: flex;
  flex-direction: column;
  margin: 1em;
  z-index: 10;
}
.d1,.d2,.d3{
  margin: 1px;
  height: 5px;
  width: 30px;
  background-color: black;
}
@keyframes rotator{
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(45deg)
    }
}
.d1.change{
    position: absolute;
    top: 1.5em;
    right: 1.5em;
  transform: rotate(0deg);
  animation: rotator 2s forwards 0.5s;
}
@keyframes rotatorinverse{
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(-45deg)
    }
}
.d3.change{
    position: absolute;
    top: 1.5em;
    right: 1.5em;
  transform: rotate(0deg);
  animation: rotatorinverse 2s forwards 0.5s;
}
.d2.change{
  display: none;
}
.hidden{
  display: none;
}
ul{
  list-style-type: none;
}
.banner{
    height: 70vh;
    width: 90vw;
    background: url("images/background-fruits.jpg") no-repeat;
    background-size: cover;
}
.banner1{
    text-align: center;
    padding: 2em;
    line-height: 50px;
}
.black{
    background-color: white;
    color: black;
}
.white{
    background-color: black;
    color:white
}
.description{
    display: flex;
    flex-direction: column;
    line-height: 50px;
}
.paragraphs p{
    padding-bottom: 1em;
    padding-top: 2em;;
}
.phone{
    width: 40vw;
    height: 50vh;
    margin: 1em auto;
}
.fa-whatsapp{
    background-color: green;
    color: white;
    border-radius: 50%;
    position: fixed;
    bottom: 10%;
    right: 10%;
}
footer{
    background-image: url("./images/footerbackground.jpg");
    display: flex;
    gap: 3em;
    flex-direction: column-reverse;
    height: 40vh;
}
footer div span{
    text-decoration: underline;
    margin: 1em;
}
.icons2{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}