@media screen and (min-width: 500px) {
    .hamburger{
        display: none;
    }
    .header{
        display: flex;
        margin-left: 1em;
        margin-top: 1em;
        padding: 0.5em;
    }
    .go{
        display: block;
    }
    .go li{
        display: inline-block;
        margin: 0.4em;
        padding: 0.2em;
    }
    .banner{
        height: 50vh;
        margin: 1em auto;
    }
    .banner1{
        padding: 4em;
        font-size: 2em;;
    }
    .phone{
    width: 20vw;
    height: 70vh;
}
    .description{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        display: flex;
        align-items: center;
        color: white;
    }
}